body{
    font-family:'Roboto Condensed',sans-serif; 
    padding:0;
    margin:0;
    box-sizing:border-box;
    height:100%;
    
}
body::-webkit-scrollbar {
    width: 0.6em;
  }
  
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  }
  
  body::-webkit-scrollbar-thumb {
  background-color:#175cf2;
  outline: 1px solid blue;
  }

.logo{
    color:blue;
    font-weight:bold;
    margin-left:400px;
    font-size:1.4rem;
    margin-top:16px;
}

.fixed-top{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:1030;
    /* margin:3px; */
    display:flex;
    background:rgb(233, 231, 220);
    height: 10vh;
    border:2px rgb(233, 231, 220) solid;
    grid-area:fixed-top;
    
}
.nav-items{
    display:flex;
    padding:10px;
    
    
}
.nav-item:visited{
    border-bottom-color: blue;
}
.nav-item{
    padding:5px;
    margin-left:15px;
    color:blue;
    
    text-align: center;
    justify-content: center;
    font-size:1.2rem;
}
a{
    text-decoration:none;
}
.container{
    width:800px;
    
}
.border{
    width:100%;
    border:1px #ddd solid;
    margin-top:80px;
    margin-left:300px;
    border-radius:10px;
    height:10vh;
}
.ride{
    justify-self: center;
    width:17%;
    height:5vh;
    border-radius:5px;
    border:none;
    margin-left:280px;
    margin-top:20px;
    font-size:1rem;
}
.ride:hover{
    background:rgb(133, 130, 130);
    transition: 1s ease-in;
    cursor:pointer;
}
.cont{
    margin-top:5px;
    display:flex;
    width:100%;
    margin-left:300px;
}
.container1{
height:50vh;

margin:7px;
border-radius:10px;
border:1px #ddd solid;
}
span{
    color:green;
}
.img{
 background:url('../img/bus.jpg')no-repeat center center/cover;
 width:100%;
 
 height:42%;
}
.img2{
background:url('../img/school-bus.jpg')no-repeat center center/cover;
width:100%;
 height:42%;
}

.img3{
    background:url('../img/taxi.jpg')no-repeat center center/cover;
    width:100%;
    height:42%;
}
.img4{
    background:url('../img/vanz-02.jpg')no-repeat center center/cover;
    width:100%;
    height:42%;
}
.par{
    font-weight:lighter;
    
}
li{
    list-style: none;
}
.button1{
    margin-left:40px;
    cursor:pointer;
    border:none;
    font-size:1rem;
    border-radius:5px;
    height:5vh;
}
.button1:hover{
    background:rgb(133, 130, 130);
    transition:.29s ease-in; 
}
.in{
    display:flex;
    margin-left:30px;
}
input{
    /* display:block; */
    width:100%;
    height:5vh;
    font-size:1.5rem;
    border-radius:5px;
    border:none;
    text-align-last: center;
}
.b{
    width:100%;
    display:block;
    height:5vh;
    border:none;
    border-radius:0 5px 5px 0;
    margin-left:3px;
    cursor:pointer;
}
.b:hover{
    background:rgb(133, 130, 130);
    transition:.35s ease-in;
}